body {
    background-color: gray;
}

header, section {
    width: 650px; /* 450px .chessboard + 200px .discarded */
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 90px;
    position: relative;
    text-align: center;
}

header h1::before {
    content: "♛";
    color: goldenrod;
    font-size: 200px;
    position: absolute;
    left: 235px;
    top: -30px;
    z-index: -100;
}

table.chessboard {
    border-collapse: collapse;
}

table.chessboard td, table.chessboard th {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

table.chessboard td.black {
    background-color: #D18B47;
}

table.chessboard td.white {
    background-color: #FFCE9E;
}

table.chessboard td.over.over.over { /* .over.over.over instead of just .over to increase specificity */
    background-color: blue;
}

table.chessboard td.ui-droppable.white {
    background-color: lightblue;
}

table.chessboard td.ui-droppable.black {
    background-color: darkblue;
}

.chessboard td, .chessboard th, .chessboard .piece{
    width: 50px;
    height: 50px;
}

.piece {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
}

.discarded {
    width: 100px;
    height: 400px;
    margin-top: 50px;
}

.discarded.black {
    float: left;
}

.discarded.white {
    float: right;
}

.discarded.black .piece {
    float: right;
}

.chessboard .piece {
    cursor: move;
}

.discarded .piece {
    cursor: default;
}
