body {
    background-color: gray;
}

table.chessboard {
    border-collapse: collapse;
}

table.chessboard td, table.chessboard th {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

table.chessboard td.black {
    background-color: #D18B47;
}

table.chessboard td.white {
    background-color: #FFCE9E;
}

table.chessboard td.over {
    background-color: blue;
}

.chessboard td, .chessboard th, .chessboard .piece{
    width: 50px;
    height: 50px;
}

.piece {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
}
