table#multiplication th, table#multiplication td {
    border: 1px solid gray;
}

table#multiplication th {
    border-width: 2px;
}

table#multiplication td {
    border-style: dotted;
}

#gallery img {
    height: 200px;
    width: 220px; // This breaks image proportions, but what the heck...
}
